<!DOCTYPE html>
<html lang="en">
<head>
   <style>
       *{   margin:5px;     padding:5px;    }
   </style>
</head>
<body>

{%extends "base.html"%}
{%block content%}

<h1 style=" color:#E3950C; font-family:Comic Sans MS; font-size:20px">
    DOCTOR DELETE FORM
</h1>

<form action="{% url 'docdeleteform'%}">
    <table>
        <tr>
            <td>
                DOCTOR ID
            </td>
            <td>
                <input type="text" name="n1" required>
            </td>
        </tr>

        <tr>
            <td>
                <input type="Submit" value="DELETE">
            </td>
        </tr>
    </table>
</form>
{%endblock%}
</body>
</html>