<!DOCTYPE html>
<html lang="en">
<head>
   <style>
       *{   margin:5px;     padding:5px;    }
   </style>
</head>

<body>

{%extends "base.html"%}
{%block content%}

<h1 style=" color:#E3950C; font-family:Comic Sans MS; font-size:20px">
    DOCTOR REGISTRATION FORM
</h1>

<form action="{% url 'docregprocess'%}">
    <table>
        <tr>
            <td>
                DOCTOR ID
            </td>
            <td>
                <input type="text" name="n1" required>
            </td>
        </tr>

        <tr>
            <td>
                PASSWORD
            </td>
            <td>
                <input type="password" name="n2" required>
            </td>
        </tr>

        <tr>
            <td>
                NAME
            </td>
            <td>
                <input type="text" name="n3" required>
            </td>
        </tr>

        <tr>
            <td>
                SPECIALITY
            </td>
            <td>
                <select name="n4" id="SPECIALITIES" required>
                    <option value="1">Select Speciality</option>
                    <option value="2">Neurosurgeon</option>
                    <option value="3">Dentist</option>
                    <option value="4">Pediatrician</option>
                    <option value="5">General Physician</option>
                    <option value="6">Ophthalmologist</option>
                    <option value="7">Gynecologist</option>
                    <option value="8">Cardiologist</option>
                    <option value="9">ENT</option>
                    <option value="10">Psychiatrist</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>
                EXPERIENCE
            </td>
            <td>
                <input type="text" name="n5" required>
            </td>
        </tr>

        <tr>
            <td>
                CHECK-IN TIME
            </td>
            <td>
                <input type="time" name="n6" required>
            </td>
        </tr>

        <tr>
            <td>
                CHECK-OUT TIME
            </td>
            <td>
                <input type="time" name="n7" required>
            </td>
        </tr>

        <tr>
            <td>
                CLINIC NAME
            </td>

            <td>
                <select name="n8" id="Clinics" required>
                    <option value="1">Select Clinic</option>
                    <option value="2">Hamad</option>
                    <option value="3">Apollo</option>
                    <option value="4">Aster</option>
                    <option value="5">Yashoda</option>
                    <option value="6">KIMS</option>
                    <option value="7">Naseem Al-Rabeeh</option>
                    <option value="8">Al-Ahli</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>
                CONSULTATION FEE
            </td>
            <td><input type="number" name="n9" required></td>
        </tr>

        <tr>
            <td>
                MOBILE NUMBER
            </td>
            <td><input type="text" name="n10" required></td>
        </tr>

        <tr>
            <td>
                ABOUT ME
            </td>
            <td><textarea name="n11" rows="3" cols="15" name="Description" required></textarea></td>
        </tr>

        <tr>
            <td>
                <input type="Submit" value="SIGNUP" align="center">
            </td>
        </tr>

    </table>
</form>
{%endblock%}
</body>
</html>