<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find your Doctor here</title>

         <style>
        table,th,td
        {border: 1px solid black;
        border-collapse:collapse;
        }

        #t1 tr:nth-child(even)
        {background-color:#fff;
        }

        #t1 tr:nth-child(odd)
        {background-color:#fff;
        }

        #t1 th
        {color:white;
        background-color:#119CDF;
        }
    </style>
</head>

<body>

{%extends "base.html"%}
{%block content%}

<h1 style=" color:#E3950C; font-family:Comic Sans MS; font-size:20px">
    FIND YOUR DOCTOR
</h1>

<form action="{% url 'searchdoc'%}">
<table border="2px" align="center" cellpadding="5px" cellspacing="5px" >
    <tr>
        <th>CLINIC NAME</th>
        <th>CITY NAME</th>
        <th>MOBILE </th>
        <th>TIME-IN</th>
        <th>TIME-OUT</th>
        <th>NO.OF.DOCTORS</th>
    </tr>
    <tr>
       <td>{{d.clinicname}}</td>
        <td>{{d.city}}</td>
        <td>{{d.mobile}}</td>
        <td>{{d.timein}}</td>
        <td>{{d.timeout}}</td>
        <td>{{d.noofdoctors}}</td>
    </tr>
</table>
</form>
{%endblock%}
</body>
</html>