<!DOCTYPE html>
<html lang="en">
<head>
   <style>
       *{   margin:5px;     padding:5px;    }
   </style>
</head>

<body>

{%extends "base.html"%}
{%block content%}

<h1 style=" color:#F7D504; font-family:Comic Sans MS; font-size:20px">
    ADMIN SIGN-UP FORM
</h1>
<form action="{% url 'adminregprocess'%}">
    <table>
        <tr>
            <td>USER ID</td>
            <td><input type="text" name="n1" required></td>
        </tr>
        <tr>
            <td>PASSWORD</td>
            <td><input type="password" name="n2" required></td>
        </tr>
        <tr>
            <td><input type="Submit" value="SignUp" ></td>
        </tr>
    </table>
</form>

{%endblock%}
</body>
</html>