<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DOCTORS</title>

         <style>
        table,th,td
        {border: 1px solid black;
        border-collapse:collapse;
        }

        #t1 tr:nth-child(even)
        {background-color:#fff;
        }

        #t1 tr:nth-child(odd)
        {background-color:#fff;
        }

        #t1 th
        {color:white;
        background-color:#119CDF;
        }
    </style>
</head>

<body>

{%extends "adminbase.html"%}
{%block content%}

<h1 style=" color:#E3950C; font-family:Comic Sans MS; font-size:20px">
   DOCTORS LIST
</h1>

<form action="{% url 'alldoctors'%}">
<table border="2px" align="center" cellpadding="5px" cellspacing="5px" >
    <tr>
        <th> ID </th>
        <th> NAME </th>
        <th> PASSWORD </th>
        <th> SPECIALITY </th>
        <th> EXP YEAR </th>
        <th> CHECK-IN TIME </th>
        <th> CHECK-OUT TIME </th>
        <th> CLINIC NAME </th>
        <th> CONSULT FEE </th>
        <th> MOBILE NO. </th>
        <th> ABOUT </th>
    </tr>

    <tr>
       <td>{{d.doctid}}</td>
        <td>{{d.name}}</td>
        <td>{{d.pswd}}</td>
        <td>{{d.speciality}}</td>
        <td>{{d.expyear}}</td>
        <td>{{d.checkintime}}</td>
        <td>{{d.checkoutime}}</td>
        <td>{{d.clinicname}}</td>
        <td>{{d.consultfee}}</td>
        <td>{{d.mobile}}</td>
         <td>{{d.about}}</td>
    </tr>
</table>
</form>
{%endblock%}
</body>
</html>