<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ARA</title>
</head>
<body>

{%extends "base.html"%}
{%block content%}

<h1 style="background-color:#054BD1; color:#F7D504; text-align:center; font-family:cooper black; font-size:34px">
    COVID 19 </h1>

<h1>Precautions to reduce the risk of catching an infection:</h1>
<p>Stay at home and do not step out unless it’s an emergency<br>
Practice social distancing at home too<br>
Disinfect surfaces such as doors, windows, kitchen slabs & bathroom floors<br>
Stay hydrated and eat well-cooked, nutritious meals<br>
Wash your hands regularly with soap and water for at least 20 seconds<br>
Use a face mask (even while at home) if you are coughing or sneezing and while taking care of someone who is sick</p>

{%endblock%}

</body>
</html>