<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ARA</title>
</head>
<body>

{%extends "base.html"%}
{%block content%}

<h1 style=" color:#D9AA09; font-family:Comic Sans MS; font-size:20px">
    COVID 19 </h1>

<h1 style=" color:blue; font-family:corbel; font-size:20px">
    Precautions to reduce the risk of catching an infection:</h1>

<h1 style=" color:black; font-family:corbel; font-size:20px">
    <p>Stay at home and do not step out unless it’s an emergency<br>
        Practice social distancing at home too<br>
        Disinfect surfaces such as doors, windows, kitchen slabs & bathroom floors<br>
        Stay hydrated and eat well-cooked, nutritious meals<br>
        Wash your hands regularly with soap and water for at least 20 seconds<br>
        Use a face mask (even while at home) if you are coughing or sneezing and while taking care of someone who is sick</p>
</h1>
{%endblock%}

</body>
</html>