<!DOCTYPE html>
<html lang="en">
<head>
   <style>
       *{   margin:5px;     padding:5px;    }
   </style>
</head>

<body >
{%extends "base.html"%}
{%block content%}

<h1 style=" color:#EEB90A; font-family:Comic Sans MS; font-size:20px">
    DOCTOR UPDATE FORM
</h1>

<form action="{% url 'cliniceditprocess'%}">
    <table>
        <tr>
            <td>
                CLINIC ID
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" name="n1" required>
            </td>
        </tr>
        <tr>
            <input type="Submit" value="EDIT">
        <tr>
     </table>
</form>
</body>
{%endblock%}
</html>