<!DOCTYPE html>
<html lang="en">
<head>
   <style>
       *{   margin:5px;     padding:5px;    }
   </style>
</head>
<body bgcolor="azure">
{%extends "base.html"%}
{%block content%}
<h1 style="background-color:#273DA4; color:#F7D504; text-align:center; font-family:cooper black; font-size:34px">
    Doctor Update Form
</h1>
<form action="{% url 'cliniceditprocess'%}">
    <table>
        <tr>
            <td>
                Enter Clinic ID to edit data
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" name="n1">
            </td>
        </tr>
    </table>
    <p>
        <input type="Submit" value="EDIT">
    </p>
</form>
{%endblock%}
</body>
</html>