<!DOCTYPE html>
<html lang="en">
<head>
   <style>
       *{   margin:5px;     padding:5px;    }
   </style>
</head>

<body>

{%extends "base.html"%}
{%block content%}

<h1 style=" color:#EEB90A; font-family:Comic Sans MS; font-size:20px">
    CLINIC DETAILS
</h1>

<form action="{% url 'clinicshowprocess'%}">
    <table>
        <tr>
            <td>
                ENTER CLINIC ID
            </td>
            <td>
                <input type="number" name="n1" required>
            </td>
        </tr>

        <tr>
            <td><input type="Submit" value="SHOW"></td>
        </tr>
    </table>
</form>
{%endblock%}
</body>
</html>