<!DOCTYPE html>
<html lang="en">
<head>
   <style>
       *{   margin:5px;     padding:5px;    }
   </style>
</head>

{%extends "base.html"%}
{%block content%}

<body>

<h1 style=" color:#EEB90A; font-family:Comic Sans MS; font-size:20px">
    CLINIC REGISTRATION FORM
</h1>
<form action="{% url 'clinicregprocess'%}">
    <table>
        <tr>
            <td>CLINIC ID</td>
            <td><input type="number" name="n1" required></td>
        </tr>
        <tr>
            <td>PASSWORD</td>
            <td><input type="password" name="n2" required></td>
        </tr>
        <tr>
            <td>CLINIC NAME</td>
            <td><input type="text" name="n3" required></td>
        </tr>
        <tr>
            <td>CITY</td>
            <td><input type="text" name="n4" required></td>
        </tr>
        <tr>
            <td>PINCODE</td>
            <td><input type="number" name="n5" required></td>
        </tr>
        <tr>
            <td>CHECK_IN TIME</td>
            <td><input type="time" name="n6" required></td>
        </tr>
        <tr>
            <td>CHECK_OUT TIME</td>
            <td><input type="time" name="n7" required></td>
        </tr>
        <tr>
            <td>PHONE NUMBER</td>
            <td><input type="number" name="n8" required></td>
        </tr>
        <tr>
            <td>NUMBER OF DOCTORS</td>
            <td><input type="number" name="n9" required></td>
        </tr>
        <tr>
            <td><input type="Submit" value="SIGNUP"></td>
        </tr>
    </table>
</form>

{%endblock%}
</body>
</html>