<!DOCTYPE html>
<html lang="en">
<head>
   <style>
       *{   margin:5px;     padding:5px;    }
   </style>
</head>
<body bgcolor="pinkcoral">
<h1>Clinic Registration Form</h1>
<form action="{% url ''%}">
    <table>
        <tr>
            <td>CLINIC ID</td>
            <td><input type="number" name="n1"/></td>
        </tr>
        <tr>
            <td>PASSWORD</td>
            <td><input type="password" name="n2"/></td>
        </tr>
        <tr>
            <td>CLINIC NAME</td>
            <td><input type="text" name="n3"/></td>
        </tr>
        <tr>
            <td>CITY</td>
            <td><input type="text" name="n4"/></td>
        </tr>
        <tr>
            <td>PINCODE</td>
            <td><input type="number" name="n5"/></td>
        </tr>
        <tr>
            <td>CHECK_IN TIME</td>
            <td><input type="time" name="n6"/></td>
        </tr>
        <tr>
            <td>CHECK_OUT TIME</td>
            <td><input type="time" name="n7"/></td>
        </tr>
        <tr>
            <td>PHONE NUMBER</td>
            <td><input type="number" name="n8"/></td>
        </tr>
        <tr>
            <td>NUMBER OF DOCTORS</td>
            <td><input type="number" name="n9"/></td>
        </tr>
        <tr>
            <td><input type="Submit" value="SignUp" align="center"></td>
        </tr>
    </table>
</form>
</body>
</html>