<!DOCTYPE html>
<html lang="en">
<head>
   <style>
       *{   margin:5px;     padding:5px;    }
   </style>
</head>
<body bgcolor="azure">
{%extends "base.html"%}
{%block content%}
<form>
<h1 style="background-color:#273DA4; color:#F7D504; text-align:center; font-family:cooper black; font-size:34px">
    Clinic Signin Form
</h1>
    <table>
        <tr>
           <td>
                Clinic ID
            </td>
            <td>
                <input type="number" name="n1">
            </td>
        </tr>

        <tr>
             <td>
                Password
            </td>
            <td>
                <input type="password" name="n2">
            </td>
        </tr>

        <tr>
            <td>
                <input type="Submit" value=SignUp>
            </td>
        </tr>
    </table>
</form>
{%endblock%}
</body>
</html>