<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clinic Search</title>

     <style>
        table,th,td
        {border: 1px solid black;
        border-collapse:collapse;
        }

        #t1 tr:nth-child(even)
        {background-color:#fff;
        }

        #t1 tr:nth-child(odd)
        {background-color:#fff;
        }

        #t1 th
        {color:white;
        background-color:#119CDF;
        }
    </style>

</head>


<body>

{%extends "base.html"%}
{%block content%}

<h1 style=" color:#EEB90A; font-family:Comic Sans MS; font-size:20px">
    FIND YOUR CLINIC HERE:
</h1>
<form action="{% url 'searchclinic'%}">
    <table border="2px" align="center" cellpadding="5px" cellspacing="5px" >
        <tr>
            <th>CLINIC ID</th>
            <th>CITY NAME</th>
            <th>PINCODE</th>
            <th>MOBILE</th>
            <th>TIME-IN</th>
            <th>TIME-OUT</th>
            <th>NO.OF.DOCTORS</th>
        </tr>
        <tr>
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
            <td>{{c.city}}</td>
            <td>{{c.pincode}}</td>
            <td>{{c.mobile}}</td>
            <td>{{c.timein}}</td>
            <td>{{c.timeout}}</td>
            <td>{{c.noofdoctors}}</td>
        </tr>
    </table>
</form>

</body>
{%endblock%}
</html>