<!DOCTYPE html>
<html lang="en">
<head>
   <style>
       *{   margin:5px;     padding:5px;    }
   </style>
</head>

<body>

{%extends "base.html"%}
{%block content%}

<form action="{% url 'patlogintprocess'%}">>
<h1 style=" color:#F6BE0E; font-family:Comic Sans MS; font-size:20px">
    PATIENT SIGNIN FORM
</h1>
    <table>
        <tr>
           <td>
               NAME
            </td>
            <td>
                <input type="text" name="n1" required>
            </td>
        </tr>

        <tr>
             <td>
                PASSWORD
            </td>
            <td>
                <input type="password" name="n2" required>
            </td>
        </tr>

        <tr>
            <td>
                <input type="Submit" value='SIGNUP'>
            </td>
        </tr>
    </table>
</form>
{%endblock%}
</body>
</html>