<!DOCTYPE html>
<html lang="en">
<head>
   <style>
       *{   margin:5px;     padding:5px;    }
   </style>
</head>

<body>

{%extends "base.html"%}
{%block content%}

<h1 style=" color:#F6BE0E; font-family:Comic Sans MS; font-size:20px">
    PATIENT UPDATE FORM

</h1>
<form action="{% url 'pateditprocess'%}">
    <table>
        <td>
            <td>
                PATIENT ID
            </td>
            <td>
                <input type="number" name="n1" required>
            </td>
        </tr>

        <tr>
            <td>
                <input type="Submit" value="EDIT">
            </td>
        </tr>
    </table>
</form>
{%endblock%}
</body>
</html>